# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
env/
venv/
ENV/
kraken-env/

# Modèles et fichiers lourds (optionnel, à retirer si tu veux les garder sur Git)
# catmus_large.mlmodel
# yolov8n.pt

# Données et sorties
outputs/
runs/
dataset_images/

# IDE
.vscode/
.idea/

# Variables d'environnement
.env
env_sauvegarde.txt

# Fichiers volumineux bloqués par GitHub
Filiation_parcelles/*.zip
*_Répertoire des archives BARRIAL & HARROIS.pdf/*.pdf
*.mlmodel
*.pt
